<!DOCTYPE html>
<html>
  <head>
    <title>Le poulain {{ foalName }} </title>
  </head>
  <body>
    <h1>Bienvenue sur votre page d'entrainements {{ foalName }}</h1>

    <p>
      Ici l'utilisateur pourra retrouver toutes les informations sur son entrainements : 
	  <ul>
      <li>Son plan d'entrainements</li>   
      <li>son état de forme </li>
      <li>Son état sportif</li>
      <li>les commentaires de son coach</li>
		</ul>
		Il aura aussi la possibilité de :
	  <ul>
      <li>Ajouter une nouvelle activité</li>   
      <li>Ajouter un nouveau questionnaire de forme hebdo</li>
      <li>Transmettre un mail à son coach</li>
		</ul>
    </p>
  </body>
</html>
