<!DOCTYPE html>
<html>
  <head>
    <title>L'activité du poulain</title>
  </head>
  <body>
    <h1>Bienvenue sur votre page d'activité</h1>

    <p>
		Le plan d'entrainements du poulain, préalablement fait par le coach. Possibilté de : 
	  <ul>
      <li>ajouter une activité</li>
      <li>supprimer une activité<li>
      <li>modifier une activité</li>
	  </ul>
    </p>
  </body>
</html>
