<!DOCTYPE html>
<html>
  <head>
    <title>L'activité du poulain</title>
  </head>
  <body>
    <h1>Bienvenue sur votre page d'activité</h1>

    <p>
      Ici sera la page d'accueil du programme en cours du Poulain
	  Il pourra :
	  <ul>
      <li>ajouter une activité</li>   
      <li>Ajouter un questionnaire hebdomadaire</li>
      <li>Voir ses prochains entrainements</li>
      <li>Voir ses derniers entrainements et les commentaires de son coach</li>
    </p>
  </body>
</html>
