<!DOCTYPE html>
<html>
  <head>
    <title>Etat de forme {{ foalName }}</title>
  </head>
  <body>
    <h1>Page d'état de forme du poulain {{ foalName }}</h1>

    <p>
		Le plan d'entrainements du poulain, préalablement fait par le coach. Possibilté de : 
	  <ul>
      <li>ajouter une activité</li>
      <li>supprimer une activité<li>
      <li>modifier une activité</li>
	  </ul>
    </p>
  </body>
</html>
