<!DOCTYPE html>
<html>
  <head>
    <title>Liste des poulains</title>
  </head>
  <body>
    <h1>L'écurie</h1>

    <p>
      Ici sera listé les poulains du coach, il suffira de cliquer pour accéder à leur programme

    </p>
  </body>
</html>
