<!DOCTYPE html>
<html>
  <head>
    <title>Allez Poulain !</title>
  </head>
  <body>
    <h1>Bienvenue sur la page d'accueil </h1>

    <p>
      Page d'accueil du site, présentant le concept du site, avec en plus
	  <ul>
      <li>s'inscrire</li>   
      <li>se connecter</li>
    </p>
  </body>
</html>
